p {
    color: red;
    font-size: 20px
}

body {
    text-align: center;
    background-color: #d83f31; 
}

#titulo {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #d83f31;
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: gray;
}