p {
    color: red;
    font-size: 20px
}

body {
    text-align: center;
    background-color: #451952; 
}

.cabecalho{
    padding: 20px;
    background-color: #fca311;
    border-bottom: 4px solid #f77f00;
    font-size: 20px;
    color: white;
}

.cabecalho-imagem{
    width: 20%;
    height: 20%;
}

.cabecalho-titulo{
    padding-left: 16px;
}
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #d83f31;
}

.texto {
    text-align: justify;
    font-size: 20px;
    color: gray;
}

#banner{
    width: 50%;
    margin: 25px;
    padding: 25px;
}